assignment_1/client/*.jpg
assignment_1/client/c
assignment_1/client/images/*
assignment_1/server/s
assignment_1/server/a1_output.html
output.html
client-server/c
client-server/s
assignment_2/mongo/composer.*
assignment_2/mongo/vendor/

# Ionic
NFCL/client/*~
NFCL/client/*.sw[mnpcod]
NFCL/client/*.log
NFCL/client/*.tmp
NFCL/client/*.tmp.*
NFCL/client/log.txt
NFCL/client/*.sublime-project
NFCL/client/*.sublime-workspace
NFCL/client/.vscode/
NFCL/client/npm-debug.log*
NFCL/client/.idea/
NFCL/client/.ionic/
NFCL/client/.sourcemaps/
NFCL/client/.sass-cache/
NFCL/client/.tmp/
NFCL/client/.versions/
NFCL/client/coverage/
NFCL/client/dist/
NFCL/client/node_modules/
NFCL/client/tmp/
NFCL/client/temp/
NFCL/client/platforms/
NFCL/client/plugins/
NFCL/client/plugins/android.json
NFCL/client/plugins/ios.json
NFCL/client/www/
NFCL/client/$RECYCLE.BIN/
NFCL/client/.DS_Store
NFCL/client/Thumbs.db
NFCL/client/UserInterfaceState.xcuserstate
