assignment_1/client/*.jpg
assignment_1/client/c
assignment_1/client/images/*
assignment_1/server/s
assignment_1/server/a1_output.html
output.html
client-server/c
client-server/s
assignment_2/mongo/composer.*
assignment_2/mongo/vendor/

# Ionic
NFCL/*~
NFCL/*.sw[mnpcod]
NFCL/*.log
NFCL/*.tmp
NFCL/*.tmp.*
NFCL/log.txt
NFCL/*.sublime-project
NFCL/*.sublime-workspace
NFCL/.vscode/
NFCL/npm-debug.log*
NFCL/.idea/
NFCL/.ionic/
NFCL/.sourcemaps/
NFCL/.sass-cache/
NFCL/.tmp/
NFCL/.versions/
NFCL/coverage/
NFCL/dist/
NFCL/node_modules/
NFCL/tmp/
NFCL/temp/
NFCL/platforms/
NFCL/plugins/
NFCL/plugins/android.json
NFCL/plugins/ios.json
NFCL/www/
NFCL/$RECYCLE.BIN/
NFCL/.DS_Store
NFCL/Thumbs.db
NFCL/UserInterfaceState.xcuserstate
