assignment_1/client/*.jpg
assignment_1/client/c
assignment_1/client/images/*
assignment_1/server/s
assignment_1/server/a1_output.html
output.html
client-server/c
client-server/s
assignment_2/mongo/composer.*
assignment_2/mongo/vendor/

# Ionic
NFCL/client/customer/*~
NFCL/client/customer/*.sw[mnpcod]
NFCL/client/customer/*.log
NFCL/client/customer/*.tmp
NFCL/client/customer/*.tmp.*
NFCL/client/customer/log.txt
NFCL/client/customer/*.sublime-project
NFCL/client/customer/*.sublime-workspace
NFCL/client/customer/.vscode/
NFCL/client/customer/npm-debug.log*
NFCL/client/customer/.idea/
NFCL/client/customer/.ionic/
NFCL/client/customer/.sourcemaps/
NFCL/client/customer/.sass-cache/
NFCL/client/customer/.tmp/
NFCL/client/customer/.versions/
NFCL/client/customer/coverage/
NFCL/client/customer/dist/
NFCL/client/customer/node_modules/
NFCL/client/customer/tmp/
NFCL/client/customer/temp/
NFCL/client/customer/platforms/
NFCL/client/customer/plugins/
NFCL/client/customer/plugins/android.json
NFCL/client/customer/plugins/ios.json
NFCL/client/customer/www/
NFCL/client/customer/$RECYCLE.BIN/
NFCL/client/customer/.DS_Store
NFCL/client/customer/Thumbs.db
NFCL/client/customer/UserInterfaceState.xcuserstate
NFCL/client/driver/*~
NFCL/client/driver/*.sw[mnpcod]
NFCL/client/driver/*.log
NFCL/client/driver/*.tmp
NFCL/client/driver/*.tmp.*
NFCL/client/driver/log.txt
NFCL/client/driver/*.sublime-project
NFCL/client/driver/*.sublime-workspace
NFCL/client/driver/.vscode/
NFCL/client/driver/npm-debug.log*
NFCL/client/driver/.idea/
NFCL/client/driver/.ionic/
NFCL/client/driver/.sourcemaps/
NFCL/client/driver/.sass-cache/
NFCL/client/driver/.tmp/
NFCL/client/driver/.versions/
NFCL/client/driver/coverage/
NFCL/client/driver/dist/
NFCL/client/driver/node_modules/
NFCL/client/driver/tmp/
NFCL/client/driver/temp/
NFCL/client/driver/platforms/
NFCL/client/driver/plugins/
NFCL/client/driver/plugins/android.json
NFCL/client/driver/plugins/ios.json
NFCL/client/driver/www/
NFCL/client/driver/$RECYCLE.BIN/
NFCL/client/driver/.DS_Store
NFCL/client/driver/Thumbs.db
NFCL/client/driver/UserInterfaceState.xcuserstate


### Django ###
NFCL/server/*.log
NFCL/server/*.pot
NFCL/server/*.pyc
NFCL/server/__pycache__/
NFCL/server/.env

# Assignment 3 Ionic
assignment_3/*~
assignment_3/*.sw[mnpcod]
assignment_3/*.log
assignment_3/*.tmp
assignment_3/*.tmp.*
assignment_3/log.txt
assignment_3/*.sublime-project
assignment_3/*.sublime-workspace
assignment_3/.vscode/
assignment_3/npm-debug.log*
assignment_3/.idea/
assignment_3/.ionic/
assignment_3/.sourcemaps/
assignment_3/.sass-cache/
assignment_3/.tmp/
assignment_3/.versions/
assignment_3/coverage/
assignment_3/dist/
assignment_3/node_modules/
assignment_3/tmp/
assignment_3/temp/
assignment_3/platforms/
assignment_3/plugins/
assignment_3/plugins/android.json
assignment_3/plugins/ios.json
assignment_3/www/
assignment_3/$RECYCLE.BIN/
assignment_3/.DS_Store
assignment_3/Thumbs.db
assignment_3/UserInterfaceState.xcuserstate

assignment_4/*~
assignment_4/netbeans/*
assignment_4/*#
