page-customer {
  .page-img {
    margin: 0 0 4% 0;
    display: block;
  }

  ion-row {
    margin: 2vw;
  }

  ion-icon {
    margin: 0.8vw;
    margin-right: 5vw;
  }

  button {
    margin: 0 !important;
    padding: 0 6vw !important;
  }
}
