page-customer {
  ion-row {
    margin: 2vw;
  }

  .info {
    margin: 3vw;
  }

  ion-icon {
    margin: 0.8vw;
    margin-right: 5vw;
  }

  button {
    margin: 0 !important;
    padding: 0 6vw !important;
  }
}
