page-home {
  .main-img {
    margin: 0 0 5% 0;
    display: block;
    width: 100%;
    height: 51%;
  }

  .img-shadow {
    margin-top: -5.8vw;
    opacity: 0.1;
  }

  .img-overlay {
    color: white;
    font-size: 8vw;
    position: absolute;
    z-index: 2;
    bottom: 52%;
    padding: 0 0 0 4vw;
  }

  .role-text {
    display: flex;
    flex-direction: row;
    font-size: 4vw;
  }

  .role-text:before, .role-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.3vw solid #636b80;
    margin: 0 3vw 2vw;
  }

  .center-text {
    text-align: center;
    font-size: 6vw;
    color: color($colors, dark, base);
    text-transform: capitalize;
  }

  ion-col {
    padding: 0 !important;
  }

  .big-button {
    height: 17.2% !important;
    margin: 5vw 3vw 0 !important;
    padding: 0 !important;
  }

  .row {
    align-items: center;
  }
}
