page-customer {
  ion-row {
    margin: 2vw;
  }

  .info {
    margin: 3vw;
  }

  .failure {
    font-size: 5vw;
    text-align: center;
    margin: 10vw auto;
  }

  ion-icon {
    margin: 0.8vw;
    margin-right: 5vw;
  }

  button {
    margin: 0 !important;
    padding: 0 6vw !important;
  }

  #map {
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0.3vw;
    margin: 0 2.5vw 0;
    height: 30%;
  }
}
