// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg-style .scroll-content{
  background: color($colors, background, base);
  color: color($colors, dark, base);
  overflow: auto;
}

ion-item {
  font-size: 5vw !important;
}

::-webkit-scrollbar-track
{
  background-color: white !important;
}

::-webkit-scrollbar
{
  width: 2vw !important;
}

::-webkit-scrollbar-thumb
{
  background-color: color($colors, dark, base) !important;
}

.page-img {
  margin: 0 0 4% 0;
  display: block;
}

.img-shadow {
  border-radius: 30%;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.05;
  border: 1.5px solid black;
  position: absolute;
  z-index: 2;
  margin-top: -4.5vw;
}

.alertCustomCss {
  .alert-title {
    color: color($colors, dark, base);
  }
}
